textarea#editor, div#editor {
    width: 100%;
    height: 90vh;
    max-width: 100%;
    min-height: 90vh;
    padding: 0;
    margin: 0;
}

div.ql-editor {
    overflow-wrap: anywhere;
}

#preview {
    overflow-wrap: anywhere;
    margin: auto;
}

pre {
    margin: 0;
}

p {
    margin-bottom: 0.0rem;
}

a {
    text-decoration: none;
}

div.nd-image-align-container {
    flex-direction: row;
    display: flex;
}

div.nd-image-align-container.nd-center-image-contents {
    align-items: center;
}

div img.nd-aligned {
    height: 100%;
    width: auto;
}

#nd-student-view-note-container {
    margin: auto;
}

.flex-container {
    display: flex;
    height: 100%;
}


:root {
    --nd-preview-padding: 1em;
}

#nd-render-area {
    padding: var(--nd-preview-padding);
    border: rgb(163, 163, 163) 1px solid,
    /* other styles are defined in HtmlPages.scala */
}

.mycontainer {
    flex: 1;
    height: 100%;
}

.named-formatter-error {
    color: #dd3333;
}

#reference-hover-container {
    border:rgba(0, 0, 0, 0.5) 1px solid;
    background-color: ghostwhite;
    position: absolute;
    z-index: 10;
}

#tree-component-textarea {
    outline: none;
    border: 1px black solid;
    padding: 0;
    z-index: 20;
    margin: 0;
    position: absolute;
    resize: none;
}

#nd-note-button {
    position: absolute;
    background-color: white;

}

#tree-root-div {
    width: auto;
    padding: 0;
    margin: 0;
}

.nd-tree-div-node {
    position: absolute;
    z-index: 1;
    background-color: white;
    user-select: none;
    border: 1px black solid;
}

.nd-tree {
    position: relative; /* to make the child divs that represent the tree nodes position properly */
}

#reference-hover-container:not(.invisible) {
    animation: fadeInElement 0.3s linear;
    display: inline-block;
}
#reference-hover-container.nd-fading {
    animation: fadeOutElement 0.3s linear;
}
@keyframes fadeInElement {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutElement {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#nd-save-icon {
    height: 100%;
    font-size: xx-large;

}

.nd-blink {
    animation: flash 0.3s linear;
}
@keyframes flash {
    0% {
        outline:#dd333300 4px solid;
        outline-offset: -4px;
    }
    40% {
        outline:#dd3333ff 4px solid;
        outline-offset: -4px;
    }
    60% {
        outline:#dd3333ff 4px solid;
        outline-offset: -4px;
    }
    99% {
        outline:#dd333300 4px solid;
        outline-offset: -4px;
    }
    100% {
        outline: none;
        outline-offset: 0;
    }
}


.invisible {
    display: none !important;
}

.molview {
    width: 400px;
    height: 300px;
}

.nd-blur {
    filter: blur(0.8rem)
}

.nd-summary-field {
    border: rgba(0, 0, 0, 0.5) thin solid;
    display: block;
}

.nd-summary-field.nd-in-dedicated-summary-view {
    border-bottom: 1px solid;
    border-top: 1px solid;
    
}

.nd-in-dedicated-summary-view > :not(#nd-summary-view-container) {
    display: none !important;
}



#nd-river-for-pins {
    max-height: 100%;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

i.fa-microphone:active {
    color:dodgerblue;
}

.is-recording i.fa-microphone {
    animation: blink 1.2s infinite normal; /* cubic-bezier(0.785, 0.135, 0.15, 0.86); */
    color: dodgerblue;
}

audio {
    vertical-align: middle;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.hidden {
    visibility: hidden;
}

#nd-title-errors {
    cursor: default;
    background: white;
    font-weight: bold;
    border-radius: 4px;
    border: #dd3333 2px solid;
}

#nd-river-for-pins div * {
    display: inline-block;
    max-width: 100%;
    text-align: left;
}

#nd-river-for-pins div {
    width: 100%;
    display: block;
}

#nd-river-for-pins img.nd-clone-designated-for-river {
    max-width: 100%;
}

.nd-right-align-img {
    margin-left: auto;
}

.nd-right-align-text {
    text-align: right;
}

.nd-center-align-text {
    text-align: center;
}

.nd-left-align-text {
    text-align: left;
}

.nd-header {
    position: sticky;
    top: calc(-1 * var(--nd-preview-padding));
    background-color: white;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    z-index: 10; /*show above document, otherwise katex formulas will draw above header, because they get rendered later. */
    border-bottom: 3px solid;
    /*border-image: linear-gradient(to right, transparent 10%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, transparent 90%) 1;*/
}

.thin-left-border {
    border-left: 1px solid;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 70%, transparent 90%) 1;
}