body {
    margin: auto auto;
    width: 70%;
    background: #f5f5f5;
}

.programOutputWrapper pre {
    font-family: "Coursier monospace";
    margin: 0px;
    margin-top: 3em;
    line-height: 1em;
    font-size: 1rem;
}

.codeBlock {
    display: inline-block;
    margin-right: 100px;
}

.lineNumHighlightClass {
    color: #3079ff;
}

.programOutputWrapper table {
    font-family: "Coursier monospace";
    margin-top: 2em;
    font-size: 1rem;
    line-height: 1rem;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
}

.programOutputWrapper td {
    text-align: center;
}

.programOutputWrapper th {
    padding-left: 1em;
    padding-right: 1em;
}

.error {
    color: red;
}

div.programOutputWrapper {
    display: flex;
    margin: auto;
}

.codeBlock {
    display: inline-block;
    margin-right: 100px;
    font-size: large;
}

.machine {
    background: gray;
}

.marked {
    background: #ddffff;
}

div.functionWrapper {
    display: inline-block;
}

