/* First some rules that apply not to the printing itself, but to the
 * print preview provided by the nilsdoc webapp.
 */
#nd-editor-preview-wrapper {
    display: none;
}

#preview {
    border: 1px solid black;
    display: block;
    width: var(--a4-width);
    padding: 1cm 2.5cm; /* wow, I sure would love to use variabes in my CSS. As it so happens, @page does not support it. */
    margin: auto;
}

:root {
    --a4-width: 210mm; /* these are proper ISO dimensions */
    --a4-height: 297mm;
}

.nd-header {
    top: 0;
    position: sticky;
}

.nd-summary-field {
    display: none !important;
}


/* Rules from here on out apply only to the actual printing, i.e. when the user opens the printing
 * dialog in their browser by pressing Ctrl-p or the like.
 */
@media print {
/*     body {
        width: calc(var(--a4-width) - 2 * var(--page-margin-x));
        margin: var(--page-margin-y)   var(--page-margin-x);
    } */

    #preview {
/*         position: running(heading); */
/*         position: relative; */
        border: none !important;
        top: 0;
/*         top: 5cm; */
        padding: 0;
        margin-top: 5cm;
        width:unset;
    }

    .nd-header {
        display: block;
        position: fixed;
        width: 100%;
        margin-top: 0;
        top: 0;
        left: 0;
    }

    .nd-dont-print {
        display: none !important
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    :root {
        --page-margin-x: 5cm;
        --page-margin-y: 5cm;
    }

    img {
        page-break-inside: avoid;
    }

}

@page {
    size: A4;
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-bottom: 1cm;
    margin-top: 1cm;
    @top-center {
        content: "it is I"; /*element(heading);*/ 
    }
}