#nd-loading {
    animation: spinning 1s infinite;
    transform-origin: center center;
    width: 36px;
    height: 36px;
}

@keyframes spinning {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}