@(prints: Seq[String])
@layouts.html.default("Scalatra: a tiny, Sinatra-like web framework for Scala", "Welcome to Scalatra"){
  <p>Hello, Twirl!</p>
  <ul>
    @for(p <- prints) {
      <li>@p</li>
    }
  </ul>
  <script type="text/javascript" src="./client-fastopt.js"></script>
}